# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.pfx

# Django
*.log
local_settings.py
*.sqlite3
*.sqlite3*
*.bak*
*.json

# Documentation
AGENTS.md

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat-schedule.db
celerybeat-schedule-shm
celerybeat-schedule-wal

# Generated invoices and XMLs
nfs_e/pdfs/
nfs_e/xmls/

# Django static and media
static/
media/
staticfiles/

.ruff_cache

# Database
postgres_data/