{% load humanize %}
<tr id="row-{{ consolidation.id }}">
    <td class="fw-bold">{{ consolidation.month_year|date:"M Y" }}</td>
    <td>
        {% if consolidation.status == 'CONSOLIDATED' %}
            <span class="badge bg-success">Consolidado</span>
            <small class="d-block text-muted">{{ consolidation.get_applied_annex_display }}</small>
        {% else %}
            <span class="badge bg-warning text-dark">Desatualizado</span>
        {% endif %}
    </td>
    <td>
        R$ {{ consolidation.total_revenue|floatformat:2|intcomma }}<br>
        <small class="text-muted">RBT12: R$ {{ consolidation.rbt12|floatformat:2|intcomma }}</small>
    </td>
    <td>
        <strong>Proj. Próximo Mês:</strong><br>
        <span class="{% if consolidation.proj_fator_r >= 28 %}text-success{% else %}text-danger{% endif %} fw-bold">
            {{ consolidation.proj_fator_r|floatformat:2|intcomma }}%
        </span>
        <br>
        <small class="text-muted" style="font-size: 0.75rem;">
            RBT12: R$ {{ consolidation.proj_rbt12|floatformat:2|intcomma }}<br>
            Soma PL: R$ {{ consolidation.proj_pl_sum|floatformat:2|intcomma }}<br>
            CPPs Anteriores: R$ {{ consolidation.proj_prev_cpp|floatformat:2|intcomma }}<br>
            CPP Proj.: R$ {{ consolidation.proj_cpp|floatformat:2|intcomma }}
        </small>
    </td>
    <td>
        <strong>Total: R$ {{ consolidation.total_tax|floatformat:2|intcomma }}</strong><br>
        <small class="text-muted">
            DAS: R$ {{ consolidation.das_tax|floatformat:2|intcomma }}<br>
            INSS: R$ {{ consolidation.inss_tax|floatformat:2|intcomma }}<br>
            IRRF: R$ {{ consolidation.irrf_tax|floatformat:2|intcomma }}
        </small>
    </td>
    <td class="text-info fw-bold">
        R$ {{ consolidation.recommended_pl|floatformat:2|intcomma }}
    </td>
    <td>
        <form hx-post="{% url 'htmx_reconsolidate_month' consolidation.id %}" hx-target="#row-{{ consolidation.id }}" hx-swap="outerHTML">
            {% csrf_token %}
            <div class="input-group input-group-sm mb-1">
                <span class="input-group-text">R$</span>
                <input type="number" step="0.01" min="0.00" name="actual_pro_labore_paid" aria-label="Valor do Pró-labore Real Pago" class="form-control text-end" value="{{ consolidation.actual_pro_labore_paid|stringformat:'.2f' }}">
            </div>
            <button type="submit" class="btn btn-sm btn-primary w-100">Recalcular</button>
        </form>
    </td>
</tr>